.projects-div {
  color: white;
  display: flex;
  width: 30rem;
  height: auto;
  margin: 0 auto;
}

.projects-div ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.projects-div li {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #333;
  transition: background-color 250ms ease-in-out;
}

.projects-div img {
  width: 5rem;
  filter: invert();
}

.link-text-project {
  color: white;
  text-decoration: none;
}

.project-logo-tech {
  padding: 1rem;
  font-size: 48px;
  color: #ddd;
  position: relative;
  z-index: 1;
  transition: font-size 0.5s ease;
  transition: color 250ms ease-in-out;
}
