body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-page {
  text-align: center;
  height: 200rem;
}

.logos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  align-items: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  height: 8rem;
  max-width: 70%;
  transition: height 0.5s ease;
}

.logos-container-text{
  font-family: monospace;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  height: 2rem;
}

.logo-container {
  position: relative;
  margin: 0 20px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 48px;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 1;
  transition: font-size 0.5s ease;
  transition: color 250ms ease-in-out;
}


.progress-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
}

.progress-ring-bg {
  fill: none;
  stroke: #ddd;
  stroke-width: 5;
  stroke-linecap: round;
}

.progress-ring-fg {
  fill: none;
  stroke-width: 6;
  stroke-linecap: square;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.3s ease;
}

.progress-ring, .progress-ring-bg, .progress-ring-fg {
  transition: all 0.5s ease;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.type-animation-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /*height: 20rem;*/
}

.type-animation{
  max-width: 60%;
  font-family: monospace;
  color: #ddd;
  height: 8rem;
}

.spacer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  transition: color 250ms ease-in-out;
}

/* Media Section */

@media (max-width: 500px){
  .logo{
    font-size: 35px;
  }
  .logos-container{
    height: 30rem;
    max-width: 80%;
  }
  .type-animation{
    max-width: 70%;
    font-family: monospace;
    color: #ddd;
  }
}

@media (max-width: 500px) {
  .progress-ring {
    width: 75px;
    height: 75px;
  }
  .progress-ring-bg {
    stroke-width: 4px;
  }

  .progress-ring-fg{
    stroke-width: 5px;
  }
}

@media (max-width: 675px) and (min-width: 501px){
  .logo{
    font-size: 45px;
  }
  .logos-container{
    height: 14rem;
  }
}

@media (max-width: 675px) and (min-width: 501px){
  .progress-ring {
    width: 90px;
    height: 90px;
  }
  .progress-ring-bg {
    stroke-width: 4px;
  }

  .progress-ring-fg{
    stroke-width: 5px;
  }
}

@media (min-width: 676px) and (max-width: 850px){
  .logo{
    font-size: 55px;
  }
  .logos-container{
    height: 18rem;
  }
}

@media (min-width: 676px) and (max-width: 850px){
  .progress-ring {
    width: 100px;
    height: 100px;
  }
  .progress-ring-bg {
    stroke-width: 4px;
  }

  .progress-ring-fg{
    stroke-width: 5px;
  }
}

@media (min-width: 851px){
  .logo{
    font-size: 55px;
  }
  .logos-container{
    height: 18rem;
  }
}

@media (min-width: 851px){
  .progress-ring {
    width: 100px;
    height: 100px;
  }
  .progress-ring-bg {
    stroke-width: 4px;
  }

  .progress-ring-fg{
    stroke-width: 5px;
  }
}




